*{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
  box-sizing: border-box;
}
body{
  background: #34495e!important;
}
.novidades-section{
  background-size: cover;
  padding: 70px 0;
}
.inner-width{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  overflow: hidden;
}
.section-title{
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 30px;
}
.border{
  width: 140px;
  height: 3px;
  background: #00a86b!important;
  margin: 40px auto;

}
.novidades-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
video:focus{
  outline: 0;
}